@tailwind base;
@tailwind components;
@tailwind utilities;

.coin-desc h3 {
  font-weight: 700;
  margin: 10px 0 8px;
  font-size: 1em;
}

.coin-desc p {
  color: #555;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 25px;
}
